<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="top">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Imagen Mercado Liebre">
            <div class="search-div">
                <form action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" class="input">
                    <input class="fill-gap" name="as_word" placeholder="Buscar productos, marcas" type="text">
                    <button type="submit" class="search-buttom"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        
       
            <h2 class="header-h2">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-links" type="none">
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Ofertas</a></li>
            </ul>
            <ul class="right-links" type="none">
                <li><a href="/register">crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
            </div>
        
    </header>

    <main>
        <img class="imagen-home" src="/images/img-home-banner.jpg" alt="Imagen home MercadoLiebre">
        <section>
            <h2 class="titular">Basado en tu ultima visita</h2>
            <div class="articles-div">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera"> 
                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                        
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        </div>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Samsung TV"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titular">Seccion de ofertas</h2>
            <div class="articles-div">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Samsung TV"> 

                    <div class="i-article">
                            <i class="fa-solid fa-truck"></i>
                    </div>
                    
                    <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </article>
            </div>            
        </section>
    </main>
    <footer>

       <div class="footer-main">
        <div class="footer-div">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
           </div>
    
            <div class="footer-div">
                <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div class="footer-div">
                <i class="fa-solid fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.</p>
            </div>
       </div>

      <div class="footer-footer">
        <h3 class="ff-content">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </div>
    </footer>
</body>
</html>