<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
    <title>Registro Mercado Libre</title>
</head>
<body>
    <header class="main-header">
        <div class="top">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Imagen Mercado Liebre">
            <div class="search-div">
                <form action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" class="input">
                    <input class="fill-gap" name="as_word" placeholder="Buscar productos, marcas" type="text">
                    <button type="submit" class="search-buttom"><i id="lupa" class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        
       
            <h2 class="header-h2">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-links" type="none">
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Ofertas</a></li>
            </ul>
            <ul class="right-links" type="none">
                <li><a href="/register">crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
            </div>
        
    </header>
    <main>
        <form class="b-form" action="/" method="GET">
            <section class="b-section">
                <label class="main-label" for="name">Nombre y Apellido:</label>
                <input type="text" name="name" id="name" required>
            </section>
            <section class="b-section">
                <label class="main-label" for="user">Nombre de usuario:</label>
                <input type="text" name="user" id="user" required>
            </section>
            <section class="date-s">
                <label class="main-label" for="bd-date">Fecha de nacimiento:</label>
                <input type="date" id="bd-date" name="bd-date" required>
            </section>
            <section class="b-section">
                <label class="main-label" for="recidense">Domicilio</label>
                <input type="text" name="recidense" id="recidense" required>
            </section>
            <section class="user-porfile-s" >
                <label class="main-label">Perfil de usuario:</label>
                <div>
                    <input type="radio" id="buy" name="user-porfile" value="buy">
                    <label for="buy">Comprar</label>
                    <input type="radio" id="sell" name="user-porfile" value="sell">
                    <label for="sell">Vender</label>
                </div>
            </section>
            <section class="interest-s">
                <label class="main-label">Intereses</label>
                <div class="interest-div">
                    <input type="checkbox" id="electro" name="user-porfile" value="electro">
                    <label for="electro">Electro</label> 
                </div>
                <div class="interest-div">
                    <input type="checkbox" id="moda" name="user-porfile" value="moda">
                    <label for="moda">Moda</label> 
                </div>
                <div class="interest-div">
                    <input type="checkbox" id="hogar" name="user-porfile" value="hogar">
                    <label for="hogar">Hogar</label> 
                </div>
                <div class="interest-div">
                    <input type="checkbox" id="jugueteria" name="user-porfile" value="jugueteria">
                    <label for="jugueteria">Jugueteria</label> 
                </div>
                <div class="interest-div">
                    <input type="checkbox" id="vida-sana" name="user-porfile" value="vida-sana">
                    <label for="vida-sana">Vida sana</label> 
                </div>
                </select>
            </section>
            <section class="pic-s">
                <label class="main-label" for="user-picture">Ingresa tu foto de usuario:</label>
                <input type="file" class="file-select" name="user-picture" accept=".jpg .png" required>
            </section>
            <section class="b-section">
                <label class="main-label" for="password">Ingresa tu contraseña:</label>                
                <input type="password" name="password" id="password" required>
            </section>
            <section class="b-section">
                <label class="main-label" for="confirm-password">Ingresa tu contraseña:</label>            
                <input type="password" name="confirm-password" id="confirm-password" required>
            </section>
            <section class="submit-s">
                <button class="submit" type="submit">Enviar</button>
                <button class="reset" type="reset">Borrar</button>
            </section>
        </form>
    </main>
    <footer>

        <div class="footer-main">
         <div class="footer-div">
             <i class="fa-solid fa-credit-card"></i>
             <h3>Pagá con tarjeta o en efectivo</h3>
             <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                 puntos de pago. ¡Y siempre es seguro!</p>
            </div>
     
             <div class="footer-div">
                 <i class="fa-solid fa-gift"></i>
           <h3>Envío gratis desde $ 2.500</h3>
           <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
               productos. Es un beneficio de Mercado Puntos.</p>
             </div>
     
             <div class="footer-div">
                 <i class="fa-solid fa-user-shield"></i>
           <h3>Seguridad, de principio a fin</h3>
           <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
               porque estás siempre protegid@.</p>
             </div>
        </div>
 
       <div class="footer-footer">
         <h3 class="ff-content">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
       </div>
     </footer>
</body>
</html>