*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
}

/*header*/
.main-header{
    background-color: #EAC926;
    width: 100vw;
}

.top{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 
}
.top img{
    width: 50%;
}

.header-h2{
    font-size: 17px;
    font-weight: bold;
    color: #03264C;
    text-align: center;
}
.search-div{
    display: flex;
    justify-content: center;
    width: 50%;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.fill-gap{
   padding: 5px;
   border: black solid 1px;
   border-radius:7px;
   width: 80%;
}

.search-buttom{
    background-color: aliceblue;
    size: auto;

    color: #03264C;
    padding: 5px;
    border: black solid 1px;
    border-radius:7px;
}

.main-navbar ul{
    display: none;
}

.main-navbar ul{
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: #03264C;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
    font-weight: 600;
}
.main-navbar ul i{
    margin-left: 5px;
}

.burger-menu{
    text-align: center;

}
.burger-menu i{
    background-color: #1259c3;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 18px;
    color: aliceblue;
}

/*MAIN*/
main{
    background-color: #ebebeb;
}
.main-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.section1{
    width: 80%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.section1 input{
    margin-top: 3%;
}
.section1 label{
    margin-top: 2%;
}
.section{
    width: 80%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.section label{
    margin-top: 5%;
}
.section input{
    margin-top: 3%;
}
.submit-s{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.submit-button{
    margin-top: 5%;
    width: 80%;
    height: 36px;
    font-weight: 600;
    background-color: white;
    transition:all, 0.5s;
    margin-bottom: 5%;
}

.submit-button:hover{
    color: white;
    background-color: #1259c3;
    border: 0;
}

@media (min-width: 320px){
    .section input{
        width: 70%;
    }
    .section1 input{
        width: 70%;
    }
    .submit-button{
        width: 70%;
    }
}
@media (min-width: 768px){
    .section input{
        width: 50%;
    }
    .section1 input{
        width: 50%;
    }
    .submit-button{
        width: 50%;
    }
}
@media (min-width: 1024px){
    .section input{
        width: 30%;
    }
    .section1 input{
        width: 30%;
    }
    .submit-button{
        width: 30%;
    }
    
}

/*FOOTER*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-main{

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-div{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    box-shadow: 0px 0px 5px rgb(100,100,100);
    border-radius: 5%;
}
.footer-div:hover{
    box-shadow: 0px 0px 15px rgb(100,100,100);
}
.footer-div:hover i{
    font-size: 35px;
}
.footer-div i{
    color: #1259c3;
    margin: 5px 5px 10px 5px;
    font-size: 2em;
}
.footer-div h3{
    text-align: center;
    margin: 0% 5% 2% 5%;
}
.footer-div p{
    text-align: center;
    margin: 0% 5% 0% 5%;
    font-weight: 400;
}
.footer-footer{
    margin-top: 3%;
}
.ff-content{
    font-size: 14px;
}


@media (min-width: 720px){
    .footer-div{
        width: 25%;
    }
}



@media(min-width:360px){
    .top img{
        width: 170px;
    }
     
}
@media screen and (min-width: 768px){
     .main-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
    }
    .top{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .header-h2{
        text-align: right;
        padding-right: 10px;
    } 
    .main-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        
    }
    .left-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; 
    }
    .right-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .burger-menu{
        display: none;
    }
    .imagen-home{
        display: flex;
        width: 100%;
    }
}

@media(min-width: 870px ){
    article{
        width: 20vw;
    }
}

p{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    
}